html {
  height: 100%;
  background: #111 url('../img/background.jpg') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body {
  height: 100%;
  font: Helvetica, sans-serif;
  text-align: center;
  text-shadow: 1px 1px #000;

}

.icon {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  padding-top: 50px;
}

.email {
  color: white;
  font-weight: 600;
  display: block;
}

.second {
  padding-top: 15px;
}
