html {
  height: 100%;
  background: #111 url('../img/background.jpg') no-repeat center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

body {
  font-family: Helvetica, sans-serif;
  text-align: center;
  text-shadow: 1px 1px #000;
}

.icon {
  width: 90%;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon>img {
  height: 300px;
  width: 300px;
}

.container {
  padding-top: 50px;
}

.text>p {
  color: white;
  font-size: 60px;
  font-weight: 600;
  font-family: 'Pacifico', cursive;
}

.email {
  color: white;
  font-weight: 500;
  display: block;
  font-size: 25px;
}

.second {
  padding-top: 10px;
}

@media (max-width: 900px) {
  .icon>img {
    height: 150px;
    width: 150px;
  }
  .text>p {
    font-size: 30px;
  }
  .email {
    font-size: 18px;
  }
}