html, body, {
  height: 100%;
}

body {
  margin: 0;
  color: #FFF;
  font: normal 16px/1.2 "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;
  text-shadow: 1px 1px #000;
  background: #111 url('../img/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.icon {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  padding-top: 50px;
}

.email {
  color: white;
  font-weight: 600;
  display: block;
}

.second {
  padding-top: 15px;
}
